<div class="film">
  <div class="film__header">
    <h4>{{film.title}}</h4>
    <p>Release Date: {{film.release_date}}</p>
  </div>
  <div class="film__content">
    <div class="film__item">
      <label for="">Director</label>
      <p>{{film.director}}</p>
    </div>
    <div class="film__item">
      <label for="">Producer</label>
      <p>{{film.producer}}</p>
    </div>
    <div class="film__item">
      <label for="">Opening Crawl</label>
      <p>{{film.opening_crawl}}</p>
    </div>
  </div>
</div>
